html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	overflow: auto;


}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}


ol, ul {
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#mainContainer{
	position:fixed;
	right: 0;
	left: 0;
	top:0;
	bottom:0;
 background-image:url("green.jpg");

}

header{
	width:350px;
	margin-left: auto; margin-right: auto;
	height: auto;
	margin-top: 40px;
}

#header{
	display: inline;
}

img{
	height:60px;
	width:auto;
}

#instructions{
	margin-top: 20px;
	border:solid blue 4px;
	border-radius: 20px;
	width:700px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	background-color: #79F592;
	font-family: 'Finger Paint', cursive;
	height: auto;
}

ol{
	list-style-type: decimal;
	margin-left: 40px;
}

#startGame{
	width:150px;
	margin-top: 20px;
	margin-left: 300px;
	border-radius: 20px;
	background-color: #12aaa5;
	color:white;
	border:solid #1221aa 2px;
}

.game{
	margin-top: 20px;
	border:solid blue 4px;
	border-radius: 20px;
	height: 100px;
	width:400px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	background-image:-webkit-linear-gradient(top left, #FFFFFF 0%, #00A3EF 100%);
	font-family: 'Finger Paint', cursive;
}

#gameMain{
}

.game h1{
	text-align: center;
	margin-top: 10px;
	overflow: hidden;
}

#question{
	height:20px;
	width:40px;
	background-color: black;
	padding: 3px;
	margin-top: 2px;
	color:white;
	font-size: 30px;
}

#msg{
	overflow: hidden;
}

#msg p{
	margin-top: 20px;
	text-align: center;
	text-align: center;

}

#msg button{
	margin-left: 180px;	
	margin-top: 10px;

}

#colder{
	height:60px;
	width:140px;
	margin-right: auto;
	margin-left: auto;
	background-color: #27d5e5;
	border-radius: 10px;
	margin-top: 40px;
	display: none;
}

#colder p{
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
	color: blue;
}

#warmer{
	height:60px;
	width:140px;
	margin-right: auto;
	margin-left: auto;
	background-color: red;
	border-radius: 10px;
	margin-top: 40px;
	display: none;
}

#warmer p{
	text-align: center;
	padding-top: 20px;
	font-size: 20px;
	color: white;
}

button{
	border-radius: 20px;
	background-color: green;
	color:white;
	border:solid #1221aa 2px;

}

#guessButton{
}

.try{
	display: inline;
	margin-left: 12px;
}

.scores li{
		display: inline;
		margin-left: 10px;

}

#gameHead{
	font-weight: bold;

}

form{
	margin-top: 10px;
}

#track{
	height:auto;
}

#track li{
	display: inline;
}

