html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: arial, sans-serif; 
	font-size: 13px;
	font-weight:900;
	height:100%;



}
html{
	height:100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



ul{
	color: #C6C6C6;
	padding-top:10px;
	padding-bottom: 10px;
	white-space: nowrap;
}

ul a:link{
    color: #C6C6C6;
    text-decoration: none;
}
#search:link{
	color:white;
	text-decoration: none;
}

ul a:visited{
    color: #C6C6C6;
    text-decoration: none;
}


ul a:hover{
	color:white;
}


li{
	display:inline-block;
	margin-left:20px;
	text-transform: capitalize;


}

*{
	margin:0;
}


.button{
	border:#C6C6C6 solid 1px;
	background-color: #F2F2F2;
	text-align:center;
	padding: 5px 20px;
	border-radius: 6%;
	color: #48433a;
	font-weight: 300;
}

#nav{
	background-color: #2D2D2D;
	position:fixed;
	top:0;
	right:0;
	left:0;
	height:30px;
	width:auto;

}

#main{
	position:fixed;
	top:30px;
	left:0;
	right:0;
	bottom:0;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	height:auto;
	width:auto;
	font-weight: bold;
	min-width:100%;
	margin: 0 auto -4em;



}

#sign{
	height:80px;
	float:right;
	margin:20px 20px;
	height:auto;
	width:auto;
	
	background-color: #D74635;

	color:white;
	font-variant: small-caps;

}

#sign:hover{
	background-color: #D0402F;
}

#google img {
	width:290px;
	height:auto;
}

#google{
	position:relative;
	top:160px;
	width:290px; 	
	height:auto;
	margin-left:auto;
	margin-right:auto;


}

#field{
	width:600px;
	height:30px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	top:180px;

}

input{
	height:30px;
	width:600px;
	float:left;
	border:#C6C6C6 solid 1px;
	display:inline;
	z-index:0;
	position:absolute;
	padding-left: 10px;
}

input:focus{

	outline-color: #4D90FE;
 }

input:hover{
	border:gray solid 1px;

}


#micro{
	height:26px; width:auto;
	float:right;
	display:inline;
	position:relative;
	top:3px;
	right:-5px;



}

#small_container{
	height:60px; width:300px;
	position:relative;
	top:200px;
	margin-left: auto;
	margin-right:auto;


}
#search{
	height:auto;
	float:left;
	position:relative;
	width:auto;

}

.button:hover{
	color:black;
	border:gray solid 1px;

}



#lucky{
	height:auto;
	float:right;
	width:auto;


}

#line{
	position:relative;
	top:220px;
	width:auto;
	text-align:center;
	font-weight: 200;
	white-space: nowrap;
}

p a:link{
	color:blue;
	text-decoration: none;
}

p a:visited{
	color:blue;
	text-decoration: none;
}

p a:hover{
	text-decoration: underline;
}

#push{
	height:26px;
}

#foot{
	border-top: #EBEBEB solid 1px;
	position:fixed;
	bottom:0;
	right:0;
	left:0;
	height:26px;
	width:auto;
	padding-bottom: 5px;
	font-weight: normal;
}

#foot ul{
	float:right;
	padding-right:40px;
	color:#666666;

}

#foot li{
	display:inline;

}

#foot a:link{
	color:#666666;
	text-decoration: none;
}

#foot a:visited{
	color:#666666;
	text-decoration: none;
}

#foot a:hover{
	color:#666666;
	text-decoration: underline;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
}
